# Render Service Environment Configuration
PORT=8081
NODE_ENV=production

# Firebase Configuration
FIREBASE_PROJECT_ID=canvascraft-us3rv
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@canvascraft-us3rv.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=canvascraft-us3rv.appspot.com

# CORS Configuration
ALLOWED_ORIGINS=https://your-main-app-domain.com,http://localhost:9002,http://localhost:3000 